<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="navbar-login.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
</head>
<body>
<div id="container">
    <nav>
        <div id="section1">
            <div id="logo">
                <img id="logo-img" src="/Blanja-app/pict/Logo.png" alt="logo">
                <span id="logo-text">Blanja</span>
        </div>
            <input id="search-bar" placeholder="Search" type="input">
            <img  src="/Blanja-app/pict/filter-6555 (1).png" alt="filter" id="filter-img">
    </div>
    
        <ul id="section2">
            <li><a>
                <img id="basket" src="/Blanja-app/pict/shopping-cart-10942.png" alt="basket" href="#">
            </a></li>
            <li><a>
                <img id="notif" src="/Blanja-app/pict/notification-bell-13112.png" alt="notify" href="#">
            </a></li>
            <li><a>
                <img id="message" src="/Blanja-app/pict/mail-142.png" alt="message" href="#">
            </a></li>
            <li><a>
                <img id="profile" src="/Blanja-app/pict/christian-buehner-DItYlc26zVI-unsplash 1.png" alt="profile">
            </a></li>
        </ul>
    </nav>
</div>
<main >


</main>

</body>
</html>