html, body {
    padding:0;
    margin:0;
    font-family: 'Metropolis';
    background-color: #E5E5E5;
}

/* navbar */
#container {
    display: flex;
    justify-content: center;
    /* background-color: #E5E5E5; */
    width:100%;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:50px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #fff;
}

#logo {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 650;
    color: #DB3022;
    cursor: pointer;
}
#logo-img {
    width: 30%
}
#section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    width:68%;

}
#search-bar {
    width: 450px;
    height:30px;
    border: 3px solid #9B9B9B;
    border-radius: 24px;
    margin:5px
}
#filter-img {
    width:40px;
    cursor: pointer;
}

#section2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:32%;
    margin-right: -15px
}
li {
    list-style: none;
    margin:5px;
    font-style: none;
}
a {
    text-decoration: none;
}
#login {
    border: 3px solid #DB3022;
    background-color:  #DB3022;
    color:white;
    text-align: center;
    width: 6rem;
    height: 26px;
    padding-top: 10px;
    border-radius: 25px;
}
#signup {
    color:#9B9B9B;
    border: 3px solid #9B9B9B;
    text-align: center;
    width: 6rem;
    height: 26px;
    padding-top: 10px;
    border-radius: 25px;
}
#basket, #notif, #message {
    width:20px;
    cursor: pointer;
}
#profile {
    border-radius: 50%;
    cursor: pointer;
}
@media (max-width: 1000px) {
    #signup, #login {
        width:70px;
        height:15px;
        padding-bottom: 10px;
    }
    #search-bar {
        width:250px;
    }
    #logo{
        flex-direction: column;
        width:50px;
        font-size:20px ;
    }
}

@media (max-width: 640px) {
    #signup, #login {
        width:50px;
        height:10px;
        padding-bottom: 7px;
        font-size:14px ;
    }
    #search-bar {
        width:200px;
    }
}

/* main */
#Mcontainer {
    /* background-color: aqua; */
    width:80%;
    margin:auto;
display: flex;
flex-direction: column;
}
#main-sect {
    /* background-color: cadetblue; */
    width:100%;
    display:flex;
    flex-direction: row;
}
#sect1 {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    width:720px
}
#address {
    background-color: #fff;
    padding: 50px 35px 60px 30px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}
#address button {
background: none;
border: 1px solid #9B9B9B;
border-radius: 24px;
width:210px;
height:36px;
transition: 100ms;
margin-top: 20px;
}
button:hover {
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.75);
}
#items-list {
    /* background-color: burlywood; */
    margin-top: 20px;
}

.items {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    padding: 32px 42px 25px 14px;
}
.items div {
    /* background-color: #DB3022; */
    width:50%;
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-around; */
}
.items div img {
    border-radius:  4px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    margin-right: 15px;
}
#sect2 {
    background-color: #fff;
    width:370px;
    height:279px;
    margin-left:50px;
    padding:24px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}
#delivery {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.line {
    border: 1px solid #9B9B9B;
    width:90%;
    margin-top:20px;
    margin-bottom:20px
}
#payment div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#payment {
    display:flex;
    flex-direction: column;
}
#payment button {
    background-color: #DB3022;
    margin-bottom: 24px;
    width: 322px;
    height:36px;
    margin:24px;
    border-radius: 25px;
    border-style: none;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
}